@{
    ViewData["Title"] = "Ana Sayfa";
}

@section css {
    <link href="~/css/home.min.css" rel="stylesheet" />
}

<section class="showcase">
    <div class="container h-100">
        <div class="row h-100 d-flex justify-content-center align-items-center">
            <div class="col-lg-6">
                <div class="my-card">
                    <h2 id="typewriter">Hesaplamanın En Kolay Hali!</h2>
                    <p>
                        HepsiHesap, günlük yaşamda ihtiyacınız olan en pratik hesaplamaları tek bir yerde toplar. İster yaşınızı öğrenin, ister zaman farkı hesaplayın, ister teknik bir ölçümü kolayca çözümleyin. Mesela;
                    </p>
                    <h5 class="text-success">Sence kaç gündür hayattasın?</h5>
                    <hr />
                    <form class="row" id="lifeForm">
                        <div class="col">
                            <div class="form-group">
                                <label for="birthDay">Doğum Gününüz</label>
                                <select id="birthDay" class="form-control" required></select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="birthMonth">Doğum Ayınız</label>
                                <select id="birthMonth" class="form-control" required></select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="birthYear">Doğum Yılınız</label>
                                <select id="birthYear" class="form-control" required></select>
                            </div>
                        </div>
                        <div class="w-100">
                            <button type="submit" class="btn btn-outline-success mt-3">Öğren</button>
                        </div>
                    </form>
                    <div id="result"></div>

                    <p id="result" class="mt-2 text-primary font-weight-bold"></p>
                </div>
            </div>
            <div class="col-lg-5">
                <img class="img-fluid" src="img/hh-design1.png" alt="" />
            </div>
        </div>
    </div>
</section>

<section class="container">
    <h1 class="text-center">Hızlı Hesaplamalar</h1>
    <hr />
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="my-card">
                <div class="d-flex flex-column align-items-center justify-content-center text-center">
                    <img class="card-icon" src="/img/hh-icon2.png" alt="" />
                    <h5>A sayısının yüzdelik hesaplaması?</h5>
                </div>
                <form id="percentForm" class="row g-2 align-items-center">
                    <div class="col">
                        <input type="text" step="any" min="0" id="numberA" class="form-control" placeholder="Sayı (A)" required maxlength="14" />
                    </div>
                    <div class="col-auto text-center">
                        <span style="font-size: 2rem;">%</span>
                    </div>
                    <div class="col">
                        <input type="text" step="any" min="0" max="100" id="percentVal" class="form-control" placeholder="Yüzde" required maxlength="14" />
                    </div>
                    <button type="submit" class="btn btn-outline-success mt-3">Öğren</button>
                </form>
                <div id="percentResult" class="mt-2"></div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="my-card">
                <div class="d-flex flex-column align-items-center justify-content-center text-center">
                    <img class="card-icon" src="/img/hh-icon2.png" alt="" />
                    <h5>A sayısı, B sayısının yüzde kaçıdır?</h5>
                </div>
                <form id="percentOfForm" class="row g-2 align-items-center">
                    <div class="col">
                        <input type="text" step="any" min="0" id="numberA2" class="form-control" placeholder="A sayısı" required maxlength="14" />
                    </div>
                    <div class="col-auto text-center">
                        <span style="font-size: 2rem;">%</span>
                    </div>
                    <div class="col">
                        <input type="text" step="any" min="0" id="numberB2" class="form-control" placeholder="B sayısı" required maxlength="14" />
                    </div>
                    <button type="submit" class="btn btn-outline-success mt-3">Öğren</button>

                </form>
                <div id="percentOfResult" class="mt-2"></div>
            </div>
        </div>


    </div>
</section>